

h1{
	background-color: purple;
}


body {
	
	background: url('background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron{
	background: none;

}

.navbar-brand{
	
	font-family: Impact, Charcoal, sans-serif;
}

footer{
	font-family: verdana;
	position: sticky-bottom;
}
