<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>
<body>


<!--Start Navigation-->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b><i>Edit Milestone</i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/board-milestone';">Home</a>
                </li>


                <li class="nav-item" >
                    <a class="nav-link active" onclick="location.href='/milestone/board-milestone/EditMilestone';">Edit Milestone</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/menu/Logout';">Log Out</a>
                </li>
            </ul>
        </div>


    </div>
</nav>

<div class="container">
    <div class="jumbotron text-center m-t-3">


        <p><center> Editing Milestone... </center><p>


        <form method="POST" action="/milestone/board-milestone/EditMilestone">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Priority</button>
                </div>
                <select class="custom-select" name="priority" placeholder={{getPriority}} id="inputGroupSelect03" aria-label="Example select with button addon">
                    <option selected>{{getPriority}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Milestone's Name</span>
                </div>
                <input type="text" class="form-control" name="name"  placeholder={{getName}} aria-label="Milestone Name" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Description</span>
                </div>
                <input type="text" class="form-control" name="description" placeholder={{getDescription}} aria-label="Description" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Termination Date</span>
                </div>
                <input id="datepicker" name="terminationDate" placeholder={{getTerminationDate}} aria-label="Description" aria-label="Description" width="276" />
            </div>
        <label for="inputCompleted">Completed</label>
        <select id="inputCompleted" name="inputCompleted">
            <option value="yes" {{#getCompleted}} selected {{/getCompleted}}>Yes</option>
            <option value="no" {{^getCompleted}} selected {{/getCompleted}}>No</option>
        </select>
        <br><br><br>





            <input class="btn btn-primary" role="button" type="submit" value="Save Changes">

        </form>
        <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
    </div>

</div>



</body>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"><center>Copyright Campbell Dar Prado Whitehead</center></span>
    </div>

</footer>


</html>