<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</head>
<body>


<!--Start Navigation-->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b><i>Edit Board</i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/menu';">Home</a>
                </li>


                <li class="nav-item" >
                    <a class="nav-link active" onclick="location.href='/milestone/menu/EditProject';">Edit Board</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/menu/Logout';">Log Out</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center m-t-3">
        <p><center> Editing Project...</center><p>

        <form method="POST" action="/milestone/menu/EditProject">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="description" id="inputName" placeholder={{getName}} class="form-control mx-sm-3" aria-describedby="DescriptionHelpInline" name="name">
                <br>
                <label for="inputShareable">Shareable</label>
                <select id="inputShareable" name="inputShareable">
                    <option value="yes" {{#isShareable}} selected {{/isShareable}}>Yes</option>
                    <option value="no" {{^isShareable}} selected {{/isShareable}}>No</option>
                </select>
                <br><br><br>

                <input class="btn btn-primary" role="button" type="submit" value="Save Changes">

            </div>

        </form>
        <br>
        <br><br><br><br>

    </div>
</div>

</body>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"><center>Copyright Campbell Dar Prado Whitehead</center></span>
    </div>

</footer>


</html>