<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>



</head>
<body>


<!--Start Navigation-->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i>{{name}} Shareable: {{#isShareable}}
            &#10004;
            {{/isShareable}}
            {{^isShareable}}
            &#10008;
            {{/isShareable}}</i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/menu';">Home</a>
                </li>


                <li class="nav-item" >
                    <a class="nav-link" onclick="location.href='/milestone/menu/EditProject';">Edit Board</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" onclick="location.href='/milestone/menu/Logout';">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form method="POST" action="/milestone/board/" onsubmit="return submitIt(this.submited)">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Priority</th>
        <th scope="col">Milestones</th>
        <th scope="col">Deadline</th>
        <th scope="col">Completed</th>
        <th scope="col">Go to...</th>

    </tr>
    </thead>

    <tbody>
    {{#milestones}}
    <tr>
        <th scope="row">
            {{priority}}
        </th>

        <td>
            {{name}}
        </td>
        <td>
            {{getTerminationDate}}
        </td>
        <td>
            {{#getCompleted}}
               &#10004;
            {{/getCompleted}}
            {{^getCompleted}}
                &#128308;
            {{/getCompleted}}

        </td>


        <td>
            <div class="input-group mb-3">
                <input type="checkbox" name="MilestoneBoard" value={{getID}} aria-label="Checkbox for following text input">
            </div>
        </td>
    </tr>
    {{/milestones}}
    </tbody>
</table>


{{#isShareable}}
<h2>Sharing Link</h2>
<a href={{getLink}}>{{getLink}}</a></p>
{{/isShareable}}

    <input name="btnGoTo" class="btn btn-primary" role="button" type="submit" value="Go To..." onclick="this.form.submited=this.name;" >
    <input name="btnDelete" class="btn btn-primary" role="button" type="submit" value="Delete Milestone" onclick="this.form.submited=this.name;">
    <input name="btnAdd" class="btn btn-primary" role="button" type="submit" value="Add Milestone"  onclick="this.form.submited=this.name;">
</form>

<script>
    function submitIt(submitedValue) {
        var x = document.querySelectorAll('input[name=MilestoneBoard]:checked').length;

        if(submitedValue == "btnGoTo" && x > 1)
        {
        alert("Select only one Milestone to go to");
        return false;
        }
        else if(x == 0 && submitedValue != "btnAdd"){
        alert("No Milestones selected");
        return false;
        }
        else if(submitedValue == "btnDelete"){
        return confirm("You are about to delete these milestones");
        }
        else return true;
    }
</script>

</body>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"><center>Copyright Campbell Dar Prado Whitehead</center></span>
    </div>
</footer>
</html>